   body {
        font-family: Times New Roman, sans-serif;
        margin: 0;
        padding: 0;
    }
    
    header {
        background-color: #123;
        color: #fff;
        padding: 20px;
        text-align: center;
    }
    
    ul li {
        display: inline;
        margin-right: 20px;
    }
    
    main {
        padding: 20px;
    }
    
    section {
        margin-bottom: 40px;
    }
    
    div {
        text-align: center;
    }
    
    div.image {
        justify-items: center;
        width: 1%;
    }
    
    footer {
        background-color: #123;
        color: #fff;
        padding: 10px;
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
